# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
#tensorflow
transformers
#yaml

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# text preprocessing
#nltk
jupyter

# word2vec
#gensim

# python dot environment
python-dotenv

# dialo-gpt
torch
langdetect

#API
fastapi
uvicorn
streamlit
streamlit_chat

# fine tuning
# datasets
